<div class="field">
  <%= f.label :unit_number %><br />
  <%= f.text_field :unit_number %>
</div>

<div class="field">
  <%= f.label :unit_type %><br />
  <%= f.text_field :unit_type %>
</div>

<div class="field">
  <%= f.label :moved_in %><br />
  <%= f.date_field :moved_in %>
</div>

<div class="field">
  <%= f.label :next_payment %><br />
  <%= f.date_field :next_payment %>
</div>

<div class="field">
  <%= f.label :amount_due %><br />
  <%= f.number_field :amount_due %>
</div>
