<div id="<%= dom_id comment %>" style="white-space: pre-line;">
  <strong class="<%= 'text-gray-600' if comment.user.admin? %>"><%= comment.user.fname %></strong>: <%= comment.body %>
  <span class="text-gray-500"><%= time_ago_in_words(comment.created_at) %> ago</span>
</div>
