<%= form_with(model: [@user, @request, @comment], url: user_request_comments_path(@user, @request), local: true, data: { controller: :form, action: "turbo:submit-end->form#clear" }) do |form| %>
  <div class="mb-4 lg:w-3/4">
    <%= form.text_area :body, placeholder: "Add a comment" %>
    <% if @comment.errors.include?(:body) %>
      <% @comment.errors.messages_for(:body).each do |error| %>
        <p class="text-red-500 mt-2"><%= error %></p>
      <% end %>
    <% end %>
    <%= form.hidden_field :request_id, value: @request.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "Post Comment", class: "btn-primary mt-2" %>
  </div>
<% end %>
