<%= form_with(model: [@user, @request, @comment], url: user_request_comments_path(@user, @request), local: true) do |form| %>
  <div>
    <% if @comment.errors.any? %>
      <div class="text-red-500">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% @comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-4">
      <%= form.text_area :body, class: "px-4 py-2 border rounded border-gray-300" %>
    </div>

    <%= form.hidden_field :request_id, value: @request.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="mt-4">
      <%= form.submit "Post Comment", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
    </div>
  </div>
<% end %>
