<%= form_with(model: [@user, @request, @comment], url: user_request_comments_path(@user, @request), local: true) do |form| %>
  <div>
    <div class="mt-4">
      <%= form.text_area :body, class: "w-full border rounded border-gray-300" %>
      <% if @comment.errors.include?(:body) %>
        <% @comment.errors.full_messages_for(:body).each do |error| %>
          <p class="text-red-500 mt-2"><%= error %></p>
        <% end %>
      <% end %>
    </div>

    <%= form.hidden_field :request_id, value: @request.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="mt-4">
      <%= form.submit "Post Comment", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 hover:cursor-pointer" %>
    </div>
  </div>
<% end %>
