<%= form_with(model: [@user, @request, @comment], url: user_request_comments_path(@user, @request), local: true) do |form| %>
  <div class="mb-4">
    <%= form.text_area :body, class: "w-full px-3 py-2 border rounded-lg border-gray-200 mt-2 focus:outline-none focus:border-floston focus:ring-0" %>
    <% if @comment.errors.include?(:body) %>
      <% @comment.errors.full_messages_for(:body).each do |error| %>
        <p class="text-red-500 mt-2"><%= error %></p>
      <% end %>
    <% end %>

    <%= form.hidden_field :request_id, value: @request.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>


    <%= form.submit "Post Comment", class: "bg-floston text-flostontext px-4 py-2 rounded-lg hover:bg-blue-600 hover:cursor-pointer mt-2" %>
  </div>
<% end %>
