<%= turbo_stream_from property %>

<div class="border border-gray-300 p-4 rounded mt-4 text-gray-800">
  <p class="text-xl font-semibold flex justify-normal">
    <% cache('bx-building-house.svg') do %>
      <%= image_tag "bx-building-house.svg", alt: "Property", class: "w-6 mr-2", draggable: false %>
    <% end %>
    <span class="flex justify-between w-full">
      <%= link_to property_path(property), draggable: false, data: { turbo_frame: "_top" }, class: "hover:underline" do %>
        <%= property.name %>
      <% end %>
      <% if property.tenants.any? %>
        <span class="text-gray-400 font-normal">(<%= format_count(property.tenants_count) %>)</span>
      <% end %>
    </span>
  </p>
</div>

