<% content_for :title, "Search results" %>

<%= turbo_frame_tag :results_list do %>
  <p class="text-4xl mb-8 text-gray-800">
    Search results <%= params[:q].present? ? "for \"<span class='font-semibold'>#{h(params[:q])}</span>\"".html_safe : "" %>
  </p>

  <div class="max-w-lg">
    <%= render "search_tenants" %>

    <%= render "search_properties" %>

    <%= render "search_requests" %>

    <%= render "search_articles" %>
  </div>
<% end %>
