<%= turbo_frame_tag :results_list do %>
  <div class="max-w-lg">
    <p class="text-4xl mb-8 text-gray-800">Search results</p>

    <%= render "search_users" %>

    <%= render "search_properties" %>

    <%= render "search_requests" %>

    <%= render "search_articles" %>
  </div>
<% end %>
