<% content_for :title, "Payment reminders" %>

<div class="max-w-md">
  <%= link_to sanitize('&larr; back'), user_path(@user), class: "text-gray-600" %>
  <p class="text-4xl font-semibold mt-4 mb-6 text-gray-800">Reminders</p>
  <% if @reminders.present? %>
  <%= turbo_frame_tag "reminders_#{@pagy.page}" do %>
    <%= render partial: "reminder", collection: @reminders, as: :reminder, cached: true %>
    <% unless @pagy.page == @pagy.pages %>
      <%= turbo_frame_tag "reminders_#{@pagy.next}", src: user_reminders_path(@user, page: @pagy.next), loading: "lazy" do %>
        <%= render "shared/loader" %>
      <% end %>
    <% end %>
  <% end %>
  <% else %>
    <% if user_is_admin? %>
      <p class="text-gray-600">This tenant doesn't have any payment reminders yet</p>
    <% else %>
    <p class="text-gray-600">You don't have any payment reminders</p>
    <% end %>
  <% end %>
</div>
