<div id="<%= dom_id article %>" class="">
  <% Article::INLINE_EDITABLE_ATTRS.each do |attribute| %>
    <%= turbo_frame_tag attribute do %>
      <% if attribute == :title %>
        <h1 class="text-4xl font-bold <%= article.published ? 'text-gray-800' : 'text-orange-500' %> mb-4">
          <% if current_user&.admin? %>
            <%= link_to (article[attribute].presence || 'Edit'), [:edit, article, attribute: attribute] %>
          <% else %>
            <%= article.title %>
          <% end %>
        </h1>
        <p class="text-gray-600 text-sm"><%=  article.created_at.strftime("%b %d, %Y") %></p>
      <% elsif attribute == :property_id %>
        <p class="mb-4 flex items-center">
          <% cache('bx-building-house.svg') do %>
            <%= image_tag "bx-building-house.svg", class: "w-6 mr-2" %>
          <% end %>
         <%= Property.find_by(id: article[attribute]).name %>
        </p>
      <% elsif attribute == :published %>
        <% if current_user&.admin? %>
          <%= link_to [:edit, article, attribute: attribute] do %>
            <% if article.published? %>
              published
            <% else %>
              not published
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p class="my-4 leading-[1.75em]">
          <% if current_user&.admin? %>
            <%= link_to (article[attribute].presence || 'Edit'), [:edit, article, attribute: attribute] %>
          <% else %>
            <%= article.body %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
