<div id="<%= dom_id article %>" class="">
  <% Article::INLINE_EDITABLE_ATTRS.each do |attribute| %>
    <%= turbo_frame_tag attribute do %>
      <% if attribute == :title %>
        <h1 class="text-4xl font-bold <%= article.published ? 'text-gray-800' : 'text-orange-500' %> mb-4">
          <% if user_is_admin? %>
            <%= link_to (article[attribute].presence || 'Edit'), [:edit, article, attribute: attribute] %>
          <% else %>
            <%= article.title %>
          <% end %>
        </h1>
        <p class="text-gray-600 text-sm font-light">
          <%= date_format(article.created_at) %>
          <% if article.updated_at != article.created_at %>
            <span class="text-lg align-text-bottom">.</span>
          <% end %>
          <%= display_timestamp(article) %>
        </p>
      <% elsif attribute == :property_id %>
        <p class="mt-8 flex items-center mb-2">
          <% cache('bx-building-house.svg') do %>
            <%= image_tag "bx-building-house.svg", class: "w-6 mr-2", draggable: false %>
          <% end %>
         <%= Property.find_by(id: article[attribute]).name %>
        </p>
      <% elsif attribute == :published %>
        <% if user_is_admin? %>
          <%= turbo_frame_tag "published_checkbox" do %>
            <%= form_with(model: article, url: [article, attribute: :published], method: :patch) do |form| %>
              <div class="mb-8">
                <%= form.check_box :published, class: "text-flostonlink mr-2 border rounded-lg hover:cursor-pointer", onchange: 'this.form.requestSubmit()' %>
                <span class="text-gray-800 align-middle">Published</span>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p class="leading-[1.75em]" style="white-space: pre-line;">
          <% if user_is_admin? %>
            <%= link_to (article[attribute].presence || 'Edit'), [:edit, article, attribute: attribute] %>
          <% else %>
            <%= article.body %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
