<div class="w-full">
  <div class="flex justify-between mb-6 sticky top-[4.6rem] bg-white lg:pt-flostonp lg:pb-flostonp pb-flostonpmd">
    <h1 class="text-4xl font-bold">
      <div class="flex justify-normal">
        <% cache('bx-book-open') do %>
          <%= image_tag "bx-book-open.svg", class: "w-10 mr-2 hidden md:flex" %>
        <% end %>
        Articles
      </div>
    </h1>
    <% if current_user&.admin? %>
      <%= link_to "+ Write an article", new_article_path, class: "bg-floston text-flostontext px-4 py-2 rounded-lg hidden md:flex font-medium" %>
      <%= link_to new_article_path, class: "lg:hidden" do %>
        <% cache('bxs-file-plus.svg') do %>
          <%= image_tag "bxs-file-plus.svg", class: "w-10 mr-2" %>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <% if @articles.any? %>
    <div id="articles">
      <%= render partial: "article_index", collection: @articles, as: :article, cached: true %>
    </div>
    <div class="my-6">
      <%= paginate @articles %>
    </div>
  <% else %>
    <% if current_user&.admin %>
      <p class="mt-2 text-gray-500">Articles you write will be listed here</p>
    <% else %>
      <p class="mt-2 text-gray-500">New articles will be listed here</p>
    <% end %>
  <% end %>
</div>
