<% content_for :title, "Articles" %>

<div class="w-full">
  <%= render 'shared/header',
            title: "Articles",
            icon: "bx-book-open.svg",
            route: new_article_path,
            button_text: "Write an article",
            authorization: user_is_admin? %>

  <% if @articles.present? %>
    <%= turbo_frame_tag "articles_#{@pagy.page}" do %>
      <%= render partial: "article_index", collection: @articles, as: :article, cached: true %>
      <% unless @pagy.page == @pagy.pages %>
        <%= turbo_frame_tag "articles_#{@pagy.next}", src: articles_path(page: @pagy.next), loading: "lazy" do %>
          <%= render "shared/loader" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% if user_is_admin? %>
      <p class="mt-2 text-gray-500">Articles you write will be listed here</p>
    <% else %>
      <p class="mt-2 text-gray-500">New articles will be listed here</p>
    <% end %>
  <% end %>
</div>
