<%= turbo_stream_from user %>

<% if current_user&.id == user.admin_id %>
  <div id="<%= dom_id user%>" class="my-6">
    <div class="border border-gray-300 p-4 lg:p-5 rounded flex items-center justify-between max-w-lg">
     <div class="w-full">
        <h3 class="lg:text-xl text-lg font-semibold w-full"><%= user.name %></h3>
        <p class="py-2"><%= user.tenant.unit_type %> &middot; <%= user.tenant.property.name %></p>
        <div class="hidden lg:flex">
          <%= link_to user_path(user), draggable:false, data: { turbo_frame: "_top" }, class: "hover:underline" do %>
            <p class="text-gray-600 mt-2 underline">View profile</p>
          <% end %>
        </div>
        <!-- Mobile Buttons -->
        <div class="lg:hidden flex flex-col p-4">
          <%= link_to "View profile", user_path(user), draggable:false, data: { turbo_frame: "_top" }, class: "rounded-lg py-2 px-4 text-blue-500 border border-blue-500 hover:bg-blue-100 text-center font-medium mb-3" %>
          <div class="grid grid-flow-col justify-stretch">
            <%= link_to "Edit", edit_user_path(user), draggable:false, data: { turbo_frame: "_top" }, class: "rounded-lg py-2 px-4 text-gray-800 border border-gray-800 hover:bg-gray-100 text-center font-medium mr-2" %>
            <%= button_to "Delete", user, method: :delete, data: { turbo_confirm: "Delete tenant?" }, class: "rounded-lg py-2 px-4 text-red-400 border border-red-400 hover:bg-red-100 text-center font-medium w-full" %>
          </div>
        </div>
      </div>

      <div class="flex justify-between mx-2 hidden lg:flex">
        <div class="mx-2">
          <%= link_to edit_user_path(user), draggable:false, data: { turbo_frame: "_top" } do %>
            <% cache('bx-pencil.svg') do %>
              <%= image_tag "bx-pencil.svg", alt: "Edit", class: "w-8", draggable:false %>
            <% end %>
          <% end %>
        </div>
        <div class="mx-1">
          <%= link_to user_path(user), draggable:false, data: { 'turbo-method': :delete, turbo_confirm: "Delete tenant?" } do %>
            <% cache('bx-trash.svg') do %>
              <%= image_tag "bx-trash.svg", alt: "Delete", class: "w-8", draggable:false %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
