<div class="max-w-md">
  <%= link_to sanitize('&larr; Back'), :back, class: "text-gray-600" %>
  <h1 class="text-4xl font-bold my-4">Editing Tenant</h1>

  <%= form_for(@user, url: user_path(@user), method: :patch) do |f| %>
    <div class="mb-4">
      <%= f.label :fname, class: "block font-semibold text-gray-800" do %>
        First Name <span class="text-red-500">*</span>
      <% end %>
      <%= f.text_field :fname, class: "w-full px-3 py-2 border rounded-lg border-gray-200 mt-2 focus:outline-none focus:border-floston focus:ring-0" %>
      <% if @user.errors.include?(:fname) %>
        <% @user.errors.messages_for(:fname).each do |error| %>
          <p class="text-red-500 mt-2"><%= error %></p>
        <% end %>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :lname, class: "block font-semibold text-gray-800" do %>
        Last Name <span class="text-red-500">*</span>
      <% end %>
      <%= f.text_field :lname, class: "w-full px-3 py-2 border rounded-lg border-gray-200 mt-2 focus:outline-none focus:border-floston focus:ring-0" %>
      <% if @user.errors.include?(:lname) %>
        <% @user.errors.messages_for(:lname).each do |error| %>
          <p class="text-red-500 mt-2"><%= error %></p>
        <% end %>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :phone_number, class: "block font-semibold text-gray-800" do %>
        Phone number <span class="text-red-500">*</span>
      <% end %>
      <%= f.text_field :phone_number, class: "w-full px-3 py-2 border rounded-lg border-gray-200 mt-2 focus:outline-none focus:border-floston focus:ring-0" %>
      <% if @user.errors.include?(:phone_number) %>
        <% @user.errors.full_messages_for(:phone_number).each do |error| %>
          <p class="text-red-500 mt-2"><%= error %></p>
        <% end %>
      <% end %>
    </div>

    <%= fields_for @user.tenant do |tenant_fields| %>
      <%= render "devise/registrations/tenant_fields", f: tenant_fields %>
    <% end %>

    <div class="mt-4 mb-6">
      <%= f.submit "Update Tenant", class: "bg-floston text-flostontext px-4 py-2 rounded-lg hover:cursor-pointer" %>
    </div>
  <% end %>
</div>
