<div class="flex justify-between mb-4">
  <h1 class="text-3xl">
    <div class="flex justify-normal">
      <%= image_tag "bxs-group.svg", class: "w-10 mr-2" %>
      Tenants (<span id="counter"><%= @user_count %></span>)
    </div>
  </h1>
  <%= link_to "+ Add tenant", new_user_registration_path, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
</div>


<% if @users.any?  %>
  <% @users.each do |user| %>
    <% if current_user.id == user.admin_id %>
      <%= render "user", user: user %>
    <% else %>
      <p class="mt-4 text-gray-500">You haven't added any tenants yet</p>
    <% end %>
  <% end %>
  <div class="my-4">
    <%= paginate @users %>
  </div>
<% else %>
  <p class="mt-4 text-gray-500">You haven't added any tenants yet</p>
<% end %>

