<% content_for :title, "Tenants" %>

<div class="w-full">
  <%= render 'shared/header',
            title: "Tenants",
            icon: "bx-group.svg",
            route: new_user_registration_path,
            button_text: "Add tenant",
            authorization: user_is_admin? %>

  <% if @users.present?  %>
    <%= turbo_frame_tag "users_#{@pagy.page}" do %>
      <%= render partial: "user", collection: @users, as: :user, cached: true %>
      <% unless @pagy.page == @pagy.pages %>
        <%= turbo_frame_tag "users_#{@pagy.next}", src: users_path(page: @pagy.next), loading: "lazy" do %>
          <%= render "shared/loader" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="text-gray-500"><%= t('empty_state.tenants') %></p>
  <% end %>
</div>
