<h1><%= link_to "Create user", new_user_registration_path %></h1>

<h2>Users</h2>

<% if @users %>
  <% @users.each do |user| %>
    <% if current_user.id == user.admin_id %>
      <div>
        <div>
          <h3 class="tenant-name"><%= user.fname %> <%= user.lname %></h3>
          <%= link_to user_path(user) do %>
            <p>View profile</p>
          <% end %>
          <%= link_to "Edit profile", edit_user_path(user) %>
          <%= link_to "Delete profile", user_path(user), method: :delete, data: { confirm: "Delete user?" } %>
        </div>
      </div></br>
    <% end %>
  <% end %>
<% else %>
  <p>There are no registered users yet.</p>
<% end %>
