<%= turbo_stream_from @user %>

<% content_for :title, @user.name %>

<% if @user || @user.tenant %>
  <div>
    <% if @user %>
      <h1 class="text-4xl font-bold text-gray-800 mb-2 capitalize"><%= @user.name %></h1>
      <div class="lg:my-3 my-6">
        <p class="text-gray-600"><%= @user.phone_number %></p>
        <p class="text-gray-600"><%= @user.email %></p>
      </div>
      <div class="my-4">
        <% if user_signed_in? && current_user == @user %>
          <%= link_to "Edit profile", edit_user_registration_path, class: "text-flostonlink underline mr-2" %>
          <% if !user_is_admin? && @user.tenant.amount_due? %>
            <%= link_to "Reminders", user_reminders_path(@user), class: "text-flostonlink underline" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

   <div>
     <% if @user.tenant %>
       <ul>
         <% @user.tenant.attributes.each do |attribute, value| %>
           <% unless ['id', 'created_at', 'updated_at', 'user_id'].include?(attribute) %>
             <% if value.present? %>
               <li class="lg:mb-3.5 mb-4">
                 <h2 class="text-xl font-semibold text-gray-800"><%= @user.tenant.class.human_attribute_name(attribute) %></h2>
                 <p class="text-gray-600">
                   <% if value.is_a?(Date) %>
                     <%= value.strftime("%A, #{ordinal(value.day)} %B %Y") %>
                   <% elsif attribute == 'amount_due' %>
                     <%= number_to_currency(value, unit: 'USD ', precision: 0) %>
                   <% elsif attribute == 'property_id' %>
                     <p class="text-gray-600 capitalize"><%= Property.find_by(id: value)&.name %></p>
                   <% else %>
                     <%= value %>
                   <% end %>
                 </p>
               </li>
             <% end %>
           <% end %>
         <% end %>
       </ul>
     <% end %>
   </div>
  </div>
<% end %>

<% if user_is_admin? && current_user != @user %>
  <div class="flex flex-col sm:flex-row">
    <%= link_to "Tenant stats", user_stats_path(@user), draggable:false, class: "rounded-lg py-2 px-4 text-blue-500 bg-blue-100 lg:mb-0 mb-2 sm:mr-4 text-center font-medium" %>
    <%= link_to "Edit tenant", edit_user_path(@user), draggable:false, class: "rounded-lg py-2 px-4 bg-gray-100 lg:mb-0 mb-2 sm:mr-4 text-center font-medium" %>
    <%= button_to "Delete tenant", @user, method: :delete, data: { turbo_confirm: "Delete tenant?" }, class: "rounded-lg py-2 px-4 text-red-500 bg-red-100 lg:mb-0 mb-4 text-center w-full font-medium" %>
  </div>
<% end %>

<% if user_is_admin? && current_user == @user %>
  <div class="bg-white rounded-lg">
    <p class="text-lg font-semibold text-gray-800">Total projected payout</p>
    <p class="text-gray-600">
      <%= number_to_currency(@payout, unit: 'USD ', precision: 0) %>
    </p>
  </div>

  <% if @subscribed&.empty? || @subscribed.nil? %>
    <%= link_to 'Billing', subscribe_path, class: 'text-gray-800 border border-gray-500 py-2 px-4 rounded-lg mt-4 w-20' %>

  <% else %>
    <%= link_to 'Manage subscription', manage_subscription_path, class: 'text-lg font-semibold text-gray-800 underline mt-4' %>

    <% if @card_details %>
      <p>
        <%= @card_details['card_type'] %> card ending in <span class="text-gray-600">...<%= @card_details['last4'] %></span>
      </p>
      <p>Started on <span class="text-gray-600">
        <%= subscription_time(@subscription_details['createdAt']) %></span>
      </p>
      <p>
        Next payment on <span class="text-gray-600"><%= subscription_time(@subscription_details['next_payment_date']) %></span>
      </p>
    <% end %>
    <% if session[:manage_subscription_link] %>
      <%= link_to "Replace card or cancel", session[:manage_subscription_link], class: 'underline text-flostonlink mt-4' %>
    <% end %>
  <% end %>
<% end %>
