<% if @user %>
  <h1 class="tenant-name"><%= @user.fname %> <%= @user.lname %></h1>
  <p>phone: <%= @user.phone_number %></p>
  <p>email: <%= @user.email %></p>
<% end %></br>

<% if user_signed_in? && !current_user.admin? %>
  <%= link_to "Change your password", edit_user_registration_path %>
<% end %>

<% if @user.tenant %>
  <ul>
    <% @user.tenant.attributes.each do |attribute, value| %>
      <% unless ['id', 'created_at', 'updated_at', 'user_id'].include?(attribute) %>
        <span>
          <h2>
            <%= @user.tenant.class.human_attribute_name(attribute) %>
          </h2>
          <p>
            <% if value.is_a?(Date) %>
              <%= value.strftime("%A, #{ordinal(value.day)} %B %Y") %>
            <% elsif attribute == 'amount_due' %>
              <%= number_to_currency(value, unit: 'KES', precision: 0) %>
            <% else %>
              <%= value %>
            <% end %>
          </p>
        </span>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No associated tenant found for this user.</p>
<% end %>
