<% content_for :title, @user.name %>

<% if @user || @user.tenant %>
  <div>
    <% if @user %>
      <h1 class="text-4xl font-bold text-gray-800 mb-2"><%= @user.name %></h1>
      <div class="lg:my-3 my-6">
        <p class="text-gray-600"><%= @user.phone_number %></p>
        <p class="text-gray-600"><%= @user.email %></p>
      </div>
      <div class="my-4">
        <% if show_edit_profile_link?(@user) %>
          <%= link_to "Edit profile", edit_user_registration_path, class: "text-flostonlink underline mr-2" %>
        <% end %>
      </div>
    <% end %>

    <div>
      <% if @user.tenant %>
        <ul>
          <% @user.tenant.attributes.each do |attribute, value| %>
            <% unless ['id', 'created_at', 'updated_at', 'user_id'].include?(attribute) %>
              <% if value.present? %>
                <li class="lg:mb-3.5 mb-4">
                  <h2 class="text-xl font-semibold text-gray-800"><%= tenant_attribute(@user, attribute) %></h2>
                  <p class="text-gray-600">
                  <% if value.is_a?(Date) %>
                    <%= value.strftime("%A, #{ordinal(value.day)} %B %Y") %>
                  <% elsif attribute == 'property_id' %>
                    <p class="text-gray-600"><%= show_property_name(value) %></p>
                    <p class="text-gray-600 mt-4 text-xl"><%= formatted_amount_due(value) %></p>
                  <% else %>
                    <%= value %>
                  <% end %>
                  </p>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
<% if show_admin_actions?(@user) %>
  <!-- Mobile Buttons -->
  <div class="lg:hidden flex flex-col p-4">
    <div class="grid grid-flow-col justify-stretch">
      <%= link_to "Edit", edit_user_path(@user), data: { turbo_frame: "_top" }, class: "rounded-lg py-2 px-4 text-gray-800 border border-gray-300 text-center font-medium mr-2" %>
      <%= button_to "Delete", @user, method: :delete, data: { turbo_confirm: "Delete tenant?" }, class: "rounded-lg py-2 px-4 text-red-500 border border-gray-300 text-center font-medium w-full" %>
    </div>
  </div>
  <!-- Mobile Buttons -->

  <div class="flex mt-4 hidden lg:flex">
    <%= link_to "Edit tenant", edit_user_path(@user), class: "rounded-lg py-2 px-4 bg-gray-100 mb-0 mr-4 text-center font-medium" %>
    <%= button_to "Delete tenant", @user, method: :delete, data: { turbo_confirm: "Delete tenant?" }, class: "rounded-lg py-2 px-4 text-red-500 bg-red-100 mb-0 text-center font-medium" %>
  </div>
<% end %>

