<% if @user || @user.tenant %>
  <div>
    <% if @user %>
      <h1 class="text-3xl font-bold text-gray-800 mb-2 capitalize"><%= @user.fname %> <%= @user.lname %></h1>
      <p class="text-gray-600"><%= @user.phone_number %></p>
      <p class="text-gray-600"><%= @user.email %></p>
      <div class="mt-4">
        <% if user_signed_in? && current_user == @user %>
          <%= link_to "Edit profile", edit_user_registration_path, class: "text-flostonlink underline" %>
          <% if !current_user.admin? %>
            <%= link_to "Reminders", user_reminders_path(@user), class: "text-flostonlink underline" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="mt-6">
    <% if @user.tenant %>
      <ul>
        <% @user.tenant.attributes.each do |attribute, value| %>
          <% unless ['id', 'created_at', 'updated_at', 'user_id'].include?(attribute) %>
            <li class="mb-4">
              <h2 class="text-xl font-semibold text-gray-800"><%= @user.tenant.class.human_attribute_name(attribute) %></h2>
              <p class="text-gray-600">
                <% if value.is_a?(Date) %>
                  <%= value.strftime("%A, #{ordinal(value.day)} %B %Y") %>
                <% elsif attribute == 'amount_due' %>
                  <%= number_to_currency(value, unit: 'KES ', precision: 0) %>
                <% elsif attribute == 'property_id' %>
                  <p class="text-gray-600 capitalize"><%= Property.find_by(id: value).name %></p>
                <% else %>
                  <%= value %>
                <% end %>
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  </div>
<% end %>

<% if current_user&.admin? && current_user != @user %>
  <div class="flex flex-col sm:flex-row">
    <%= link_to "Tenant stats", user_stats_path(@user), class: "rounded-lg py-2 px-4 text-gray-500 bg-gray-100 inline-block mb-2 sm:mr-4 text-center font-medium" %>
    <%= link_to "Edit tenant", edit_user_path(@user), class: "rounded-lg py-2 px-4 text-gray-500 bg-gray-100 inline-block mb-2 sm:mr-4 text-center font-medium" %>
    <%= button_to "Delete tenant", @user, method: :delete, data: { turbo_confirm: "Delete tenant?" }, class: "rounded-lg py-2 px-4 text-red-500 bg-red-100 inline-block mb-2 text-center w-full font-medium" %>
  </div>
<% end %>

<% if current_user&.admin? && current_user == @user %>
  <div class="bg-white rounded-lg">
    <p class="text-gray-500">Total Projected Payout</p>
    <p class="text-2xl semi-bold mt-2">
      <%= number_to_currency(@payout, unit: 'KES ', precision: 0) %>
    </p>
  </div>
<% end %>
