<%= form_with(model: property, class: "contents") do |form| %>
  <div class="my-4">
    <%= form.label :name do %>
      Name <span class="text-red-500">*</span>
    <% end %>
    <%= form.text_field :name, placeholder: "Fhloston Paradise", autofocus: true, class: "text_fied" %>
    <%= render "shared/form_error", model: property, field: :name %>
  </div>

  <div class="mb-4">
    <%= form.label :amount_due do %>
      Amount due <span class="text-red-500">*</span>
    <% end %>
    <%= form.number_field :amount_due, step: 0.01, placeholder: "169.88" %>
    <%= render "shared/form_error", model: property, field: :amount_due %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit "Add property", class: "btn-primary" %>
  </div>
<% end %>
