<%= turbo_stream_from property %>

<div id="<%= dom_id property %>" class="my-12">
  <p class="text-2xl capitalize mb-8">
    <%= link_to property.name, property_path(property), data: { turbo_frame: "_top" } %>
  </p>
  <p class="mb-4"><%= number_to_currency(property.amount_due, unit: '$') %></p>
  <% if property.tenants_count.positive? %>
    <%= pluralize(format_count(property.tenants_count), 'Tenant') %>
  <% else %>
    <p class="text-gray-500"><%= t('empty_state.admin.properties') %></p>
  <% end %>
  <% if action_name != "show" %>
    <div class="my-4">
      <%= link_to "Edit property", edit_property_path(property),
        class: "btn-secondary mt-2 py-3",
        data: { turbo_frame: "_top" } %>
      <% if property.can_be_deleted? %>
        <div class="inline-block ml-2">
          <%= button_to "Delete property", property_path(property),
            method: :delete, data: { turbo_confirm: "Delete property?" },
            class: "btn-danger mt-2" %>
        </div>
      <% end %>
      <hr class="mt-4  max-w-lg">
    </div>
  <% end %>
</div>

