<% content_for :title, "Properties" %>

<div class="w-full">
  <%= render 'layouts/header',
            title: "Properties",
            icon: "bx-building-house.svg",
            route: new_property_path,
            button_text: "Add property",
            authorization: user_is_admin? %>

  <% if @properties.present? %>
    <%= turbo_frame_tag "properties_#{@pagy.page}" do %>
      <%= render partial: "property", collection: @properties, as: :property, cached: true %>
      <% unless @pagy.page == @pagy.pages %>
        <%= turbo_frame_tag "properties_#{@pagy.next}", src: properties_path(page: @pagy.next), loading: "lazy" do %>
          <%= render "layouts/loader" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="text-gray-500">You haven't added any properties yet</p>
  <% end %>
</div>
