<div class="w-full">
  <%= render 'layouts/header',
            header_text: "Properties",
            icon_title: "bx-building-house.svg",
            new_record: new_property_path,
            new_button_text: "Add property",
            authorization: current_user&.admin? %>

  <% if @properties.any? %>
    <%= turbo_frame_tag "properties_#{@pagy.page}" do %>
      <%= render partial: "property", collection: @properties, as: :property, cached: true %>
      <% unless @pagy.page == @pagy.pages %>
        <%= turbo_frame_tag "properties_#{@pagy.next}", src: properties_path(page: @pagy.next), loading: "lazy" do %>
          <%= render "layouts/loader" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="text-gray-500">You haven't added any properties yet</p>
  <% end %>
</div>
