<div class="header">
  <h1 class="header-title">
    <div class="flex justify-normal text-gray-800">
      <%= image_tag icon, class: "header-icon" %>
      <%= title %>
    </div>
  </h1>
  <% if authorization %>
    <%= link_to route, class: "btn-primary hidden md:flex" do %>
      <%= image_tag "https://cdn.boxicons.com/svg/basic/bx-plus-circle.svg", alt: "New", class: "w-6 mr-2" %>
      <%= button_text %>
    <% end %>
    <%= link_to route, class: "md:hidden" do %>
      <%= image_tag "https://cdn.boxicons.com/svg/basic/bx-plus-circle.svg", alt: "New", class: "w-10 mr-2" %>
    <% end %>
  <% end %>
</div>
