<% if user_signed_in? %>
 <div>
    <% if current_user.admin? %>
      <p>Admin: <%= current_user.email %></p>
    <% else %>
      <%= current_user.email %>
    <% end %>
    <%= link_to "Profile", user_path(current_user) %>
  </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>

<h1>Propfolio</h1>
