<%= form_with(model: [@user, @request], local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: "block text-gray-800" %>
    <%= form.text_field :title, autofocus: true, class: "w-full px-3 py-2 border rounded-lg border-gray-200 mt-2 focus:outline-none focus:border-floston focus:ring-0" %>
    <% if @request.errors.include?(:title) %>
      <% @request.errors.full_messages_for(:title).each do |error| %>
        <p class="text-red-500 mt-2"><%= error %></p>
      <% end %>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-800" %>
    <%= form.text_area :description, class: "w-full px-3 py-2 border rounded-lg border-gray-200 mt-2 focus:outline-none focus:border-floston focus:ring-0" %>
    <% if @request.errors.include?(:description) %>
      <% @request.errors.full_messages_for(:description).each do |error| %>
        <p class="text-red-500 mt-2"><%= error %></p>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "bg-floston text-flostontext px-4 py-2 rounded-lg hover:cursor-pointer focus:outline-none focus:border-floston focus:ring-0" %>
  </div>
<% end %>
