<%= form_with(model: [@user, @request], local: true, id: "transparent-input") do |form| %>
  <div class="mb-4">
    <%= form.text_field :title, placeholder: "Untitled", autofocus: true, aria: { label: "Title" }, class: "request-title" %>
    <%= render "shared/form_error", model: @request, field: :title %>
  </div>

  <div class="mb-4">
    <%= form.text_area :description, placeholder: "Write your request", aria: { label: "Description" }, class: "h-64" %>
    <%= render "shared/form_error", model: @request, field: :description %>
  </div>

  <%= form.hidden_field :property_id, value: @user.tenant.property_id %>

  <div class="mt-4">
    <%= form.submit class: "btn-primary" %>
    <% if action_name == 'edit' %>
      <%= link_to "Cancel", user_request_path, data: { turbo_frame: "_top" }, class: "btn-secondary py-3" %>
    <% end %>
  </div>
<% end %>
