<div id="<%= dom_id request %>">
  <h1 class="text-4xl font-bold text-gray-800 mb-4 <%= 'line-through' if request.closed %>">
    <%= request.title %>
  </h1 >

  <p class="text-gray-600 text-sm"><%= date_format(request.created_at) %></p>

  <p class="mb-4 leading-[1.75em]" style="white-space: pre-line;">
    <%= request.description %>
  </p>

  <p>
    by:
    <% if request.user == current_user %>
      You
    <% else %>
      <%= link_to user_path(request.user), class: "text-flostonlink underline capitalize" do %>
        <%= request.user.fname %> <%= request.user.lname %>
      <% end %>
    <% end %>
  </p>
</div>
