<%= turbo_frame_tag request do %>
  <%= turbo_stream_from request %>
  <div>
    <h1 class="text-4xl font-bold text-gray-800 mb-4 <%= 'line-through' if request.closed %>">
      <%= request.title %>
    </h1 >

    <p class="text-gray-600 text-xs">
      Posted on <%= date_format(request.created_at) %>
      <% if request_has_been_updated(request) %>
       &middot; Edited on <%= date_format(request.updated_at) %>
      <% end %>
    </p>

    <p class="mb-4 leading-[1.75em]" style="white-space: pre-line;">
    <%= request.description %>
    </p>
    <div class="flex pt-5">
      <% if request.user == current_user %>
        <%= link_to "Edit", edit_user_request_path(@user, request), class: "underline text-sm" %>
      <% else %>
        <%= link_to user_path(request.user), data: { turbo_frame: "_top" }, class: "underline"  do %>
          <%= content_tag :p, request.user.name, class: "text-sm" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
