<%= turbo_stream_from request %>

<div id="<%= dom_id request %>">
  <h1 class="text-4xl font-bold text-gray-800 mb-4 <%= 'line-through' if request.closed %>">
    <%= request.title %>
  </h1 >

  <p class="text-gray-600 text-sm"><%= date_format(request.created_at) %></p>

  <p class="mb-4 leading-[1.75em]" style="white-space: pre-line;">
    <%= request.description %>
  </p>

  <div class="flex pt-5">
    <% cache('bx-building-house.svg') do %>
      <%= image_tag "bx-user.svg", alt: "User", class: "w-6 mr-2", draggable: false %>
    <% end %>
    <% if request.user == current_user %>
      You
    <% else %>
      <%= link_to user_path(request.user)  do %>
        <%= request.user.name %>
      <% end %>
      <% cache('bx-building-house.svg') do %>
        <%= image_tag "bx-building-house.svg", alt: "User", class: "w-6 ml-4 mr-2", draggable: false %>
         <%= request.user.tenant.property.name %>
      <% end %>
    <% end %>
  </div>
</div>

