<div id="<%= dom_id request %>">
  <h1 class="text-4xl font-bold text-gray-800 mb-4">
    <%= request.title %>
  </h1 >

  <p class="text-gray-600 mb-4 leading-[1.75em]">
    <%= request.description %>
  </p>

  <p class="capitalize">
    by:
    <%= link_to user_path(request.user), class: "text-flostonlink underline" do %>
      <%= request.user.fname %> <%= request.user.lname %>
    <% end %>
  </p>
</div>

