<% content_for :title, "Requests" %>

<div class="w-full">
  <%= render 'shared/header',
            title: "Requests",
            icon: "https://cdn.boxicons.com/svg/basic/bx-hand.svg",
            route: new_user_request_path,
            button_text: "Submit a request",
            authorization: !user_is_admin? %>

  <% if @requests.present? %>
    <%= turbo_frame_tag "requests_#{@pagy.page}" do %>
      <%= render partial: "request_index", collection: @requests, as: :request, cached: true %>
      <% unless @pagy.page == @pagy.pages %>
        <%= turbo_frame_tag "requests_#{@pagy.next}", src: user_requests_path(current_user, page: @pagy.next), loading: "lazy" do %>
          <%= render "shared/loader" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% if user_is_admin? %>
      <p class="text-gray-500"><%= t('empty_state.requests') %></p>
    <% else %>
      <p class="text-gray-500"><%= t('empty_state.users.requests') %></p>
    <% end %>
  <% end %>
</div>
