<% content_for :title, "Requests" %>

<div class="w-full">
  <%= render 'shared/header',
    title: "Requests",
    icon: "https://cdn.boxicons.com/svg/basic/bx-hand.svg",
    route: new_user_request_path,
    button_text: "Submit a request",
    authorization: !user_is_admin? %>

  <% if @requests.present? %>
    <%= turbo_frame_tag "requests", data: { turbo_action: "advance" } do %>
      <%= render partial: "request_index", collection: @requests, as: :request %>
      <%= render "shared/paginate" %>
    <% end %>
  <% else %>
    <% if user_is_admin? %>
      <p class="text-gray-500"><%= t('empty_state.requests') %></p>
    <% else %>
      <p class="text-gray-500"><%= t('empty_state.users.requests') %></p>
    <% end %>
  <% end %>
</div>
