<div class="w-full">
  <%= render 'layouts/header',
            title: "Requests",
            icon: "bxs-hand.svg",
            route: new_user_request_path,
            button_text: "Submit a request",
            authorization: !current_user&.admin? %>

  <% if @requests.any? %>
    <%= turbo_frame_tag "requests_#{@pagy.page}" do %>
      <%= render partial: "request_index", collection: @requests, as: :request, cached: true %>
      <% unless @pagy.page == @pagy.pages %>
        <%= turbo_frame_tag "requests_#{@pagy.next}", src: user_requests_path(current_user, page: @pagy.next), loading: "lazy" do %>
          <%= render "layouts/loader" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% if current_user&.admin %>
      <p class="mt-4 text-gray-500">You haven't received any requests yet</p>
    <% else %>
      <p class="mt-4 text-gray-500">You haven't submitted any requests yet</p>
    <% end %>
  <% end %>
</div>
