<div class="w-full">
  <div class="flex justify-between mb-6">
    <h1 class="text-4xl font-bold">
      <div class="flex justify-normal">
        <% cache('bxs-hand.svg') do %>
          <%= image_tag "bxs-hand.svg", class: "w-10 mr-2 hidden md:flex" %>
        <% end %>
        Requests
      </div>
    </h1>
    <% if !current_user&.admin %>
      <%= link_to "+ Submit a request", new_user_request_path, class: "bg-floston text-white px-4 py-2 rounded-lg hidden md:flex" %>
      <%= link_to new_user_request_path, class: "lg:hidden" do %>
        <% cache('bxs-file-plus.svg') do %>
          <%= image_tag "bxs-file-plus.svg", class: "w-10 mr-2" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @requests.any? %>
    <div id="requests">
      <%= render partial: "request_index", collection: @requests, as: :request, cached: true %>
    </div>
    <div class="my-6">
      <%= paginate @requests %>
    </div>
  <% else %>
    <% if current_user&.admin %>
      <p class="mt-4 text-gray-500">You haven't received any requests yet</p>
    <% else %>
      <p class="mt-4 text-gray-500">You haven't submitted any requests yet</p>
    <% end %>
  <% end %>
</div>
