<p style="color: green"><%= notice %></p>

<%= link_to "Back to requests", user_requests_path %>

<%= render @request %>

<% if current_user&.admin? %>
  <%= button_to "Destroy this request", user_request_path(current_user, @request), method: :delete %>
<% end %>

<h2>Comments</h2>

<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <% if comment.id %>
      <p>
        <% if comment.user_id == @user.admin_id %>
          (Admin)
        <% end %>
        <strong><%= comment.user.fname %></strong>: <%= comment.body %>
      </p>
    <% end %>
  <% end %>

<% else %>
  <p>No comments</p>
<% end %>

<%= render "comments/form" %>
