<div class="w-full max-w-xl">
  <%= link_to sanitize('&larr; Back to requests'), user_requests_path, class: "text-gray-600" %>

  <div class="mt-4">
    <%= render @request %>
  </div>

  <div class="my-4">
    <% if current_user&.admin? %>
      <div class="flex space-x-4">
        <%= button_to "Delete request", user_request_path(current_user, @request), method: :delete, data: { turbo_confirm: "Delete request?" }, class: "rounded-lg py-3 px-5 text-red-500 bg-red-100 inline-block font-medium" %>
        <% if !@request.closed? %>
          <%= button_to "Close request", close_request_user_request_path(current_user, @request), method: :patch, data: { turbo_confirm: "Close request?" }, class: "rounded-lg py-3 px-4 text-red-500 bg-red-100 inline-block font-medium" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2 class="text-2xl font-bold text-gray-600">Comments</h2>

  <% if @request.closed? %>
    <p class="text-red-500 mt-2"><%= User.friendly.find(@user.admin_id).fname %> closed this request</p>
  <% else %>
    <%= render "comments/form" %>
  <% end %>

  <% if @request.comments&.any? %>
    <% @request.comments.each do |comment| %>
      <% if comment.id %>
        <p class="mb-2">
          <strong class="capitalize"><%= comment.user.fname %></strong>: <%= comment.body %>
          <span class="text-gray-500"><%= time_ago_in_words(comment.created_at) %> ago</span>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <p>No comments</p>
  <% end %>

</div>
