<%= link_to sanitize('&larr; back'), :back, class: "text-gray-600" %>

<p class="text-3xl font-semibold mt-4 mb-6 text-gray-800">Tenant Stats</p>

<p class="mb-4 text-gray-600">
  Last sign in — <span class="text-gray-800 font-semibold"><%= format_stats_datetime(@user.last_sign_in_at) %></span></p>

<p class="mb-4 text-gray-600">
  <%= link_to "Requests", user_requests_path(@user),
    draggable:false,
    class: "text-gray-600 underline" %> — <span class="text-gray-800 font-semibold"><%= @index %></span></p>

<p class="mb-4 text-gray-600">
  Sign in count — <span class="text-gray-800 font-semibold"><%= @sign_in_count %></span></p>

<p class="mb-4 text-gray-600">
   <%= link_to "Reminders", user_reminders_path(@user), draggable:false, class: "text-gray-600 underline mt-4" %>
</p>

<p class="mb-4 text-gray-600">
  Added — <span class="text-gray-800 font-semibold"><%= format_stats_datetime(@user.created_at) %></span></p>
