<div data-controller="navbar" data-action="resize@window->navbar#closeOnBigScreen">
  <nav class="bg-white shadow-md fixed top-0 w-full">
    <div class="container mx-auto flex items-center justify-between p-4">
      <!-- Logo -->
      <%= link_to root_path do %>
        <p class="text-black text-2xl font-semibold <%= 'hidden md:flex' if user_signed_in? %>">Floston</p>
      <% end %>

      <!-- Search Bar -->

      <!-- Navigation Links -->
      <% if user_signed_in? %>
        <%= render 'search/form' %>
        <div class="space-x-6 hidden md:flex">
          <% if current_user&.admin %>
            <%= link_to "Tenants", users_path %>
          <% end %>
          <%= link_to "General Info", articles_path %>
          <%= link_to "Requests", user_requests_path(current_user) %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </div>

        <!-- Profile Icon -->
        <%= link_to user_path(current_user) do %>
        <div class="flex items-center">
          <div class="relative ml-3 hidden md:flex">
            <%= image_tag "bx-user.svg", alt: "Profile", class: "h-8 w-8" %>
          </div>
        <% end %>
          <div class="lg:hidden" role="button" data-action="click->navbar#toggle">
            <%= image_tag "bx-menu.svg", alt: "Menu", class: "h-8 w-8" %>
          </div>
        </div>
      <% else %>
        <div class="space-x-6">
          <%= link_to "Pricing", pricing_path %>
          <%= link_to "Sign in", new_user_session_path %>
        </div>
      <% end %>
    </div>
  </nav>

  <!-- Mobile Navigation -->
  <nav class="bg-white shadow-md fixed top-0 w-full px-4 py-6 hidden" data-navbar-target="content">
    <!-- Navigation Links -->
    <% if user_signed_in? %>
      <div class="flex justify-between">
        <div></div>
        <div data-action="click->navbar#close">
          <%= image_tag "bx-x-circle.svg" %>
        </div>
      </div>
      <ul class="text-right">
        <li class="py-2 px-2"><%= link_to "Home", root_path %></li>
        <% if current_user&.admin %>
          <li class="py-2 px-2"><%= link_to "Tenants", users_path %></li>
        <% end %>
        <li class="py-2 px-2"><%= link_to "General Info", articles_path, data: { action: "click->navbar#linkClicked" } %></li>
        <li class="py-2 px-2"><%= link_to "Requests", user_requests_path(current_user) %></li>
        <li class="py-2 px-2"><%= link_to "Profile", user_path(current_user) %></li>
        <li class="py-2 px-2"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% end %>
  </nav>
</div>
