<div data-controller="navbar" data-action="resize@window->navbar#closeOnBigScreen" class="navbar">
  <nav class="bg-white fixed top-0 w-full">
    <div class="container mx-auto flex items-center justify-between p-4">
      <!-- Logo -->
      <%= link_to root_path, class: "home-link" do %>
        <p class="text-black text-2xl font-semibold <%= 'hidden md:flex' if user_signed_in? %>">Floston</p>
      <% end %>

      <% if user_signed_in? %>

        <!-- Search Bar -->
        <%= render 'search/form' %>

        <!-- Navigation Links -->
        <div class="space-x-6 hidden lg:flex">
          <% if current_user&.admin %>
            <%= active_link_to "Tenants", users_path %>
            <%= active_link_to "Properties", properties_path %>
          <% end %>
          <%= active_link_to "General Info", articles_path %>
          <%= active_link_to "Requests", user_requests_path(current_user) %>
          <%= link_to "Sign out", destroy_user_session_path, class: "sign-out", data: { turbo_method: :delete } %>
        </div>

        <!-- Profile Icon -->
        <%= link_to user_path(current_user) do %>
        <div class="flex items-center">
          <div class="relative ml-3 hidden lg:flex">
            <%= image_tag "bx-user.svg", alt: "Profile", class: "h-8 w-8" %>
          </div>
        <% end %>
          <div class="lg:hidden" role="button" data-action="click->navbar#toggle">
            <%= image_tag "bx-menu.svg", alt: "Menu", class: "h-8 w-8" %>
          </div>
        </div>
      <% else %>
        <div class="space-x-6">
          <%= active_link_to "Features", features_path %>
          <%= active_link_to "Sign in", new_user_session_path, class: "sign-in" %>
        </div>
      <% end %>
    </div>
  </nav>

  <!-- Mobile Navigation -->
  <nav class="bg-white shadow-md fixed top-0 w-full px-4 py-6 hidden z-1" data-navbar-target="content">

    <!-- Navigation Links -->
    <% if user_signed_in? %>
      <div class="flex justify-between">
        <div></div>
        <div data-action="click->navbar#close">
          <%= image_tag "bx-x-circle.svg", class: "w-8" %>
        </div>
      </div>
      <ul class="text-right">
        <li class="py-2 px-2 text-lg"><%= link_to "Home", root_path %></li>
        <li class="py-2 px-2 text-lg"><%= active_link_to "Profile", user_path(current_user) %></li>
        <li class="py-2 px-2 text-lg"><%= active_link_to "Requests", user_requests_path(current_user) %></li>
        <li class="py-2 px-2 text-lg"><%= active_link_to "General Info", articles_path, data: { action: "click->navbar#linkClicked" } %></li>
        <% if current_user&.admin %>
          <li class="py-2 px-2 text-lg"><%= active_link_to "Tenants", users_path %></li>
          <li class="py-2 px-2 text-lg"><%= active_link_to "Properties", properties_path %></li>
        <% end %>
        <li class="py-2 px-2 text-lg sign-out"><%= link_to "Sign out", destroy_user_session_path, class: "sign-out", data: { turbo_method: :delete } %></li>
      </ul>
    <% end %>
  </nav>
</div>
