<div data-controller="navbar" data-action="resize@window->navbar#closeOnBigScreen" class="navbar">
  <nav class="bg-white fixed top-0 w-full">
    <div class="container mx-auto flex items-center justify-between p-4">
      <!-- Logo -->
      <%= link_to root_path, class: "home-link", draggable:false do %>
        <p class="text-black text-2xl font-semibold <%= 'hidden md:flex' if user_signed_in? %>">Floston</p>
      <% end %>

      <% if user_signed_in? %>

        <!-- Search Bar -->
        <%= render 'search/form' %>

        <!-- Navigation Links -->
        <div class="space-x-6 hidden lg:flex">
          <% if current_user&.admin %>
            <%= active_link_to "Tenants", users_path, draggable:false %>
            <%= active_link_to "Properties", properties_path, draggable:false %>
          <% end %>
          <%= active_link_to "General Info", articles_path, draggable:false %>
          <%= active_link_to "Requests", user_requests_path(current_user), draggable:false %>
          <%= link_to "Sign out", destroy_user_session_path, draggable:false, class: "sign-out", data: { turbo_method: :delete } %>
        </div>

        <!-- Profile Icon -->
        <%= link_to user_path(current_user), draggable:false do %>
        <div class="flex items-center">
          <div class="relative ml-3 hidden lg:flex">
            <%= image_tag "bx-user.svg", alt: "Profile", class: "h-8 w-8", draggable:false %>
          </div>
        <% end %>
          <div class="lg:hidden" role="button" data-action="click->navbar#toggle">
            <%= image_tag "bx-menu.svg", alt: "Menu", class: "h-8 w-8", draggable:false %>
          </div>
        </div>
      <% else %>
        <div class="space-x-6">
          <%= active_link_to "Features", features_path, draggable:false %>
          <%= link_to "Sign in", new_user_session_path, draggable:false, class: "sign-in" %>
        </div>
      <% end %>
    </div>
  </nav>

  <!-- Mobile Navigation -->
  <%= render "layouts/mobile_nav" %>
</div>
