<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Floston</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Property management & tenant relations">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'rails-ujs' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <%= render "layouts/confirm_modal" %>

    <main class="flex flex-col mx-auto container <%= 'mt-24' if !@home_page %> px-5 h-screen container">
      <% if alert.present? %>
        <p class="text-red-500 mb-2" data-controller="auto-remove-message"><%= alert %></p>
      <% end %>

      <% if notice.present? %>
        <p class="text-green-500 mb-2" data-controller="auto-remove-message"><%= notice %></p>
      <% end %>
     <%= yield %>
    </main>
  </body>
</html>
