<!DOCTYPE html>
<html>
  <head>
    <title>Floston</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'rails-ujs' %>

    <%= favicon_link_tag asset_path('bxs-ship.svg') %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <main class="flex flex-col mx-auto container <%= 'mt-28' if !@home_page %> px-5 h-screen container">
     <%= yield %>
    </main>
  </body>
</html>
