<!DOCTYPE html>
<html lang="en">
  <head>
   <%= render "layouts/head" %>
  </head>

  <body data-controller="back-to-top">
    <%= render "layouts/navbar" %>

    <%= render "layouts/confirm_modal" %>

    <main class="flex flex-col mx-auto container <%= 'mt-24' if !@home_page %> px-5 h-screen container">
      <div>
        <%= render "layouts/flash" %>
      </div>

      <%= yield %>

      <%= render "layouts/scroll_to_top" %>
    </main>
  </body>
</html>


