<!DOCTYPE html>
<html lang="en">
  <head>
   <%= render "layouts/head" %>
  </head>

  <body data-controller="back-to-top">
    <%= render "layouts/navbar" %>

    <%= render "layouts/confirm_modal" %>

    <main class="flex flex-col mx-auto container <%= 'mt-24' if !@home_page %> px-5 h-screen container">
      <div>
        <%= render "layouts/flash" %>
      </div>

     <%= yield %>

      <div data-target="back-to-top" class="back-to-top" data-action="click->back-to-top#scrollToTop">
        <span class="hidden lg:flex">Scroll to Top</span>
        <span class="lg:hidden">
          <% cache('bx-up-arrow-alt.svg') do %>
            <%= image_tag "bx-up-arrow-alt.svg", class: "w-10", draggable:false %>
          <% end %>
        </span>
      </div>
    </main>
  </body>
</html>


