<p>Hello <%= @user.fname %>,</p>
<p>A tenant has submitted a request:</p>
<h2><%= @request.title %></h2>
<p><%= @request.description %></p>
<p>by: <%= @request.user.fname %> <%= @request.user.lname %></p>
